@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="login-field">
    <div class="login">
        <div class="help-text">Enter your login :</div>
        <div class="login-date"><input class="login-date-field" /></div>
    </div>
    <div class="pass">
        <div class="help-text">Enter your password :</div>
        <div class="pass-date"><input class="pass-date-field" type="password" /> </div>
    </div>
    <div class="button">
        <input type="button" value="Login"/>
    </div>
</div>